
#messages{
    height: 500px; 
    overflow-y: auto;
    width: inherit;
}
.chat-message{
    width:auto;
    margin-right: 0.5%;
    margin-left: 0.5%;
    font-size: 12px;
    color: black;
    text-align: initial}

span[class ^= 'chat-head-Admin']{
    color:#ef5350;
}

span[class ^= 'chat-head-Student']{
    color: #42A5F5;
}

span[class ^= 'chat-head-Lecturer']{
    color: #66BB6A;
}

div[class ^= 'timestamp']{
    font-size: 9px;
    text-align: right;
    margin-right: 1.5%;
    margin-bottom: 2%;
}

span[class ^= 'chat-head']{
    width: fit-content;
    margin-left: 1%;
    margin-top: 1%;
    /* border-top-right-radius: 5%;
    border-top-left-radius: 5%; */
    font-weight: bold;
    font-size: 12px;
    }
#role_select{
    margin-top: 5%;
    margin-bottom: 5%;
}

#mainbox{
    margin-top: 2%;
}